.btn{
    border:5px solid;
    border-color:rgb(255, 255, 186);
    border-radius: 5px;
    background-color: beige;
}
.btn:hover{
    transform: translateY(-10px);
    background-color:rgb(245, 245, 137);
    
}
